# pyup: ignore file
bpython
bumpversion==0.5.3
coverage==4.5.2
fabric3 < 2.0
flake8==3.6.0
jedi
ipython
mypy
netifaces
paramiko
pylint
pytest==4.0.2
pytest-runner==4.2
pytest-cov
python-build
rope
ropevim
Sphinx==1.8.3
tmuxp
twine==1.12.1
watchdog==0.9.0
wheel==0.32.3
# https://pypi.org/project/remote-pdb/
remote-pdb
pyarchops_helpers
pip-upgrader
