# pyup: ignore file
bpython
bumpversion
coverage
fabric3<2.0
flake8
jedi
ipython
mypy
netifaces
paramiko
pylint
pytest
pytest-runner
pytest-cov
python-build
rope
ropevim
Sphinx
tmuxp
twine
watchdog
wheel
# https://pypi.org/project/remote-pdb/
remote-pdb
pyarchops_helpers
pip-upgrader
